checkpoints/
*.pth
__pycache__/
*.pyc
*.pdf
os_time_train_100ep_log.txt
os_time_train_100ep_log_SIN_REGULARIZAR.txt
os_time_train_log.txt
os_time_train_log2.txt
os_time_train_phikon_log.txt
os_time_train_regularizado_log.txt
lanzar_phikon_clusters_log.txt
lanzar_phikon_clusters_log2.txt
select_clusters_ctp_log.txt
select_clusters_gpu0.txt
select_clusters_gpu0b.txt
select_clusters_gpu1_v3.txt
select_clusters_log.txt
select_clusters_log2.txt
select_clusters_log3.txt
extract_phikon_log.txt
extract_ctp_log.txt
recluster_log.txt
result_test_eval_log.txt
